# Script to create a new Icon on Desktop
# In order to make it work save the file on the desktop using .desktop extension this will let the system know that this is a desktop file. 
# Caution! - in order to make it a directory save it using .directory extension

# version - Mention the version number of software 
# Type - Type of desktop icon is it an Application/directory/Link
# Terminal - whether the program is made to run in terminal
# Icon - Specify the path of the icon
# Exec - Specify the execution path i.e generally the .sh file in case of application type
# Name - Name to be shown on the desktop

[Desktop Entry]
Version=1.0                                 
Type=Application                            
Terminal=false                              
Icon=/opt/android-studio/bin/studio.png     
Exec=sh /opt/android-studio/bin/studio.sh   
Name=Android Studio                         

# Good resource to read more - https://specifications.freedesktop.org/desktop-entry-spec/latest/index.html, https://developer.gnome.org/integration-guide/stable/desktop-files.html.en
